<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="../../Content/CustomLayout/_JobApplicationLayout.cshtml.css">
    <link rel="stylesheet" href="~/Content/FormLoginAndSignUp/LoginMessage.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- @Styles.Render("~/Content/css") -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.ckeditor.com/ckeditor5/40.1.0/classic/ckeditor.js"></script>
    <script src="../../Scripts/CustomScripts/JobPosting/JobApplicationUI.js"></script>

</head>
<body>
    <nav class="_JobApplicationLayout-nav shadow">
        <div class="image-logo-container">
            <a href="/Home" class="logo-name">Logo</a>
        </div>

        <div class="account-container">
            <div class="user-info">
                <a href="@Url.Action("redirectToAccount", "Account", new { Username = Session["Username"]})"
                   class="users-name-info" id="userProfile">
                    <img src="" alt="" class="avatar_mini">
                    <span class="fullName_mini">
                        @Html.Action("GetFullName", "Account", new { Username = Session["Username"] })
                    </span>
                </a>
            </div>
            <div class="vertical-line"></div>
            <div class="login-signup">
                <a href="@Url.Action("LogOutJobApplication", "Account")" class="signup-link">Log out</a>
            </div>
        </div>
    </nav>
    <input type="hidden" name="txtUserIdSession" id="txtUserIdSession" value="@ViewBag.UserID" />
    <main id="renderBody" class="_JobApplicationLayout-main" style="min-height: 110vh">
        @RenderBody()
    </main>

    <div class="contain_message_box">
        <div class="message_box">
            <div class="title">
                <p>Chào mừng @Html.Action("GetFullName", "Account", new { Username = Session["Username"] })!</p>
            </div>

            <button id="btnOk_messBox">Ok</button>
        </div>
    </div>

    <div class="contain_logOut_message_box">
        <div class="message_box_logout">
            <div class="title_box">
                <p>Thông báo</p>
            </div>
            <div class="main_message">
                <p class="title_message_logout">Bạn có chắc chắn muốn đăng xuất không?</p>
                <div class="contain_logout_btn">
                    <button class="btnLogout" id="btnLogoutCancel">Hủy</button>
                    <form id="logoutForm" method="post" action="@Url.Action("LogOutHome", "Account")">
                        <button type="submit" class="btnLogout" id="btnLogoutOk">Ok</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/CustomScripts/FormLoginAndSignUp/MessageLogin.js"></script>
</body>
</html>